<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>About Vulnerable Python Web App</title>
  </head>
  <body>
    {% extends "template.html" %}
    {% block content %}
    <h1> About Vulnerable Web App </h1>
    <p> Vulnerable Web App is written in Python that exposes various vulnerabilities. The app is adopted from the original Flask Bucket List Application.</p>
    <p> The app is used to test the security scanning tools to validate the tools are working correctly.</p>
    {% endblock %}
  </body>
</html>
